<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
  <!-- Servlets -->
  <servlet>
    <servlet-name>greetServlet</servlet-name>
    <servlet-class>org.interview.server.GreetingServiceImpl</servlet-class>
  </servlet>
  
   <servlet>
    <servlet-name>countServlet</servlet-name>
    <servlet-class>org.interview.server.CountCallServiceImpl</servlet-class>
  </servlet>
  
  <servlet>
    <servlet-name>personServlet</servlet-name>
    <servlet-class>org.interview.server.PersonServiceImpl</servlet-class>
  </servlet>
  
  <servlet-mapping>
    <servlet-name>greetServlet</servlet-name>
    <url-pattern>/hello/greet</url-pattern>
  </servlet-mapping>
 
  <servlet-mapping>
    <servlet-name>countServlet</servlet-name>
    <url-pattern>/hello/countCall</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>personServlet</servlet-name>
    <url-pattern>/hello/person</url-pattern>
  </servlet-mapping>
  
  <!-- Default page to serve -->
  <welcome-file-list>
    <welcome-file>Hello.html</welcome-file>
  </welcome-file-list>

</web-app>
